.card{
    background-color: #212529;
    color: white;
    margin: 0 0 2rem 0;
    box-shadow: 2px 2px 20px #212529 ;
    min-height: 250px;
}

.card-title{
    text-align: center;
    color: #FA6221;
    font-size: 1.5rem;
}

.card-body{
    text-align: center;
}
.card-body b{
    font-size: 2rem;
}

.card-body p{
    font-size: 3rem;
    color: #FA6221;
}

.card-footer{
    background-color: #FA6221;

}

.card:hover{
    animation: pulse;
    animation-duration: 1.5s;
   
}




.card-footer span{
    padding: 5px;
    font-size: 1.2rem;
}

.card-footer{
  display: flex;
  justify-content: space-between;
}

.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card .card{
    width: 400px;
    margin: 2rem 0 ;
}



.btn{
    display: flex;
    justify-content: flex-end;
}

.btn-card{
    margin: 1rem .5rem;
    background-color: #eeea13;
    border-radius: .5rem;
    padding: .4rem;
  
    
}
.container-busqueda{
    animation: fadeIn;
    animation-duration: 2s;
}



.btn-card:hover{
    background-color: #ffffd5;
    
}

/* Pagination */

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}


.list-group-item{
    
    padding: .5rem;
    font-size: 1.5rem;
}


.imagen-espera img{
    margin: 2rem 0;
    width: 50%;
}





.title-filtro h2{
    margin: 0 0 2rem 0;
    font-size: 3rem;
  font-weight: 600;
  color:#FA6221;
  text-shadow: 0px 5px 7px #050100;
}

