
<div class="container-fluid ">
    <h2 class="text-center pt-3">Developed by JACS</h2>
    <hr>
    <div class="row">
        <div class="icons d-flex justify-content-center">
            <a href="https://github.com/alexcas20" target="_blank" >
              <i class="fa-brands fa-github"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-linkedin"></i>
            </a>
            
          </div>
        <div class="col">
            <img src="../../../assets/img/logo-pokemon.svg" alt="Logo" width="100" class="float-end p-2">
        </div>
    </div>
</div>
